pip install pyaudio
pip install pyttsx3
pip install wikipedia
pip install google
pip install playsound
pip install wolframalpha
pip install wolframalpha api
pip install pynput
pip install speech_recognition
pip install pyautogui
pip install --upgrade google-api-python-client google-auth-httplib2 google-auth-oauthlib